server:
  port: 8000
  servlet:
    context-path: /orm

#连接数据库、mysql驱动新版的驱动类
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/springdb?useUnicode=true&characterEncoding=utf8&serverTimezone=GMT%2B8&useSSL=false
    username: root
    password: 666
    driver-class-name: com.mysql.cj.jdbc.Driver

#指定mapper文件的位置、以及日志输出到控制台
mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
